@page

@* <main class="container">
    <div class="row justify-content-center align-items-center">
    <div class="col-sm-12 col-md-12 col-lg-6">
    <form method="post" asp-page-handler="Send">
    <div class="form-group">
    <label asp-for=""></label>
    <input asp-for="">
    <span asp-validation-for=""></span>
    </div>
    <button class="btn btn-primary"></button>
    </form>
    <form method="post" asp-page-handler="Verify">
    <div class="form-group">
    <label asp-for=""></label>
    <input asp-for="">
    <span asp-validation-for=""></span>
    </div>
    <button class="btn btn-primary"></button>
    </form>
    </div>
    </div>
    </main> *@